
.board {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('../../../public/asset/img/bg/oilpalm.jpg');
}

.info {
    padding: 50px 10px;
    text-align: center;
} 

.info h1 {
    color: #fff;
}


.div1 .vendorInput {
    border: none;
    outline: none;
    padding: 10px 10px;
}

.div1 .findVendor button {
    color: #fff;
    border: none;
    font-weight: bold;
    padding: 10px 10px;
    cursor: pointer;
    background-color: #1dbf73;
}