.divider {
    width: 100%;
    height: 2px;
    background-color: #e41827;
    animation: divider 3s infinite ease-out;
}


@keyframes divider {
    0% {
        background-color: #c70f0f;
    }

    20% {
        background-color: #d31e1e;
    }


    40% {
        background-color: #f03030;
    }

    60% {
        background-color: #b65e5b;
    }

    80% {
        background-color: #a83131;
    }

    100% {
        background-color: #e41827;
    }
}