.new_order {
    width: 200px;
    padding: 10px;
    margin-right: 15px;
    margin-bottom: 20px;
    border-radius: 10px;
    position: relative;
    background-color: #ffffff;
    box-shadow: 0px 0px 5px #ddd;
}

.new_order:hover {
    box-shadow: 0px 0px 10px #ddd;
}


.new-order-header {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid #ddd;
}

.new-order-body-content-item {
    padding: 10px;
    display: flex;
    font-size: 0.8em;
    justify-content: space-between;
}

.new-order-badge {
    top: 0;
    left: 10px;
    position: absolute;
}

.new-order-actionBtn {
    margin: 0px 10px;
    padding-bottom: 10px;
}

.new-order-actionBtn button {
    width: 100%;
    padding: 10px;
    border: none;
    color: #ffffff;
    cursor: pointer;
    border-radius: 25px;
    background-color: #eb2424;
}

.new-order-actionBtn .confirm {
    width: 100%;
    padding: 10px;
    border: none;
    color: #ffffff;
    cursor: pointer;
    border-radius: 25px;
    background-color: #11c049;
}


@media screen and (max-width: 760px){

    .new_order {
        width: 250px;
        padding: 10px;
        margin-right: 0;
        margin-bottom: 20px;
    }
    
}