
.new_order {
    width: 200px;
    padding: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    position: relative;
    background-color: #ffffff;
    box-shadow: 0px 0px 5px #ddd;
}

.new_order:hover {
    box-shadow: 0px 0px 10px #ddd;
}


.new-order-header {
    padding: 10px;
    text-align: center;
    border-bottom: 2px solid #ddd;
}

.new-order-body-content-item {
    padding: 10px;
    display: flex;
    font-size: 0.8em;
    justify-content: space-between;
}

.new-order-badge {
    top: 0;
    left: 0;
    padding: 2px;
    position: absolute;
    background-color: yellow;
}

.new-order-badge span{
    font-size: 10px;
    font-weight: bold;
}

.new-order-actionBtn {
    margin: 0px 10px;
    padding-bottom: 10px;
}

.new-order-actionBtn button {
    width: 100%;
    padding: 10px;
    border: none;
    color: #ffffff;
    cursor: pointer;
    border-radius: 25px;
    background-color: #eb2424;
}