.dashboard {
}

.-board {
    display: grid;
    grid-template-columns: 20% 80%;
}

@media screen and (max-width: 800px){
    .-board {
        display: block;
    }

    .main-block-content{
        width: 90%;
        margin: auto;
    }

    .main-block-content .dash_heading{
        font-size: 1.5em;
        margin: 20px auto;
    }
}

