.slide {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
}

.slide .content {
    width: 40%;
}

.content h1 {
    font-size: 3em;
}

.content h1 span {
    color: #e41818;
}

.content p {
    font-size: 1.2em;
    color: #333;
    line-height: 30px;
}

.content a {
    width: 200px;
    border: none;
    padding: 20px;
    font-size: 20px;
    color: #ffffff;
    cursor: pointer;
    display: block;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
    border-radius: 10px;
    text-decoration: none;
    background-color: #e41818;
    box-shadow: 0px 0px 2px #000;
}

.slide .image {
    width: 30%;
}

.slide .image .imgBox {
    width: 400px;
    height: 400px;
    margin: 50px auto;
}

.slide .image .imgBox img {
    width: 100%;
    height: 100%;
}


@media screen and (max-width: 760px){

    .slide {
        flex-wrap: wrap;
        flex-direction: column-reverse;
        align-items: center;
    }

    .slide .content {
        width: 90%;
        text-align: center;
    }

    .content a {
        padding: 10px;
        text-align: center;
        margin: 20px auto;
    }

    .imgBox {
        width: 300px;
        height: 300px;
        margin: 20px auto;
    }

    .slide .image {
        width: 100%;
    }
    
    .slide .image .imgBox {
        width: 300px;
        height: 300px;
        margin: 20px auto;
    }
}
