.adminList {
    width: 100%;
    border: 1px solid #ddd;
}


.adminList_head:first-child {
    padding: 10px;
    background-color: #ddd;
}

.adminList_head th {
    padding: 10px;
    text-align: left;
}

.adminList_body td{
    padding: 10px;
    border: 1px solid #ddd;
}

.actionBtn {
    border: none;
    color: #ff0000;
    background: none;
    cursor: pointer;
}

@media screen and (max-width: 640px){

    .adminList {
        overflow-x: hidden;

    }

    .sub-content-block {
        margin: auto;
        overflow-x: scroll;
    }
}