.pseller {
    width: 100%;
}

.scontainer {
    width: 100%;
    overflow-y: hidden;
    overflow-x: auto;
    white-space: nowrap;
    margin-bottom: 20px;
}

/* .scontainer ::-webkit-scrollbar {
    display: none;
} */

