.profileBlock {
    gap: 10px;
    padding: 20px;
    display: grid;
    justify-content: center;
    grid-template-columns: 300px 1fr;
}

@media screen and (max-width: 600px){

    .profileBlock {
        grid-template-columns: 100%;
    }
    
}


.pro-card-photo {
    width: 200px;
    height: 200px;
    margin: 20px auto;
}

.pro-card-photo img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.pro-card-label {
    text-align: center;
}


/* others block styling */
.pro-other-block {
    margin: 10px auto;
    box-shadow: 0px 0px 10px #dddd;
}

.pro-info {
    gap: 10px;
    display: grid;
    padding: 20px;
    grid-template-columns: 1fr 1fr;
}

@media screen and (max-width: 600px){

    .pro-info{
        grid-template-columns: 100%;
    }
}


.input-box {
    margin: 20px 0px;
}

.input-box label {
    display: block;
}

.input-box input {
    width: 90%;
    padding: 10px;
    display: block;
}

.pro-update-button-block{
    grid-column: 1 / span 2;
    text-align: right;
}

@media screen and (max-width: 760px){

    .pro-update-button-block{
        grid-column: 1 ;
    }
}

.pro-update-button-block button{
    font-size: 1.0rem;
    width: 100%;
    border: none;
    padding: 10px;
    color: #ffffff;
    text-align: center;
    background-color: #11c049;
}


/* profile more action */
.pro-change-pass-block {
    padding: 10px;
    margin: 30px auto;
    box-shadow: 0px 0px 10px #dddd;
}

.pro-change-pass-block h2{
    padding-bottom: 10px;
}

.pro-change-pass-block form input{
    width: 90%;
    padding: 10px;
}

.pro-change-passBtn {
    padding-top: 10px;
    text-align: right;
}


.pro-change-passBtn button {
    width: 100px;
    padding: 10px;
    border: none;
    color: #ffffff;
    background-color: #11c049;
    box-shadow: 0px 0px 5px #dddddd;
}

/* account delete button */
.pro-delete-account {
    margin: 20px auto;
}

.pro-delete-account button{
    width: 100%;
    padding: 10px;
    border: none;
    color: #ffffff;
    border-radius: 25px;
    background-color: red;
    box-shadow: 0px 0px 10px #ddd;
}

@media screen and (max-width: 760px) {

    .pro-more-action-desktop {
        display: none;
    }

}

@media screen and (min-width: 760px) {

    .pro-more-action-mobile {
        display: none;
    }

}