.profileBlock {
    gap: 10px;
    padding: 20px;
    display: grid;
    /* align-items: center; */
    justify-content: center;
    grid-template-columns: 300px 1fr;
}


.pro-card-photo {
    width: 200px;
    height: 200px;
    margin: 50px auto;
}

.pro-card-photo img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.pro-card-label {
    text-align: center;
}


.pro-other {
    box-shadow: 0px 0px 10px #dddd;
}

@media screen and (max-width: 600px){

    .profileBlock {
        grid-template-columns: 100%;
    }
    
}


.pro-info {
    gap: 10px;
    display: grid;
    padding: 20px;
    grid-template-columns: 1fr 1fr;
}