
.navbar {
    width: 100%;
    display: flex;
    flex-direction: row;
    background: rgb(228,24,24);
    background: linear-gradient(90deg, rgba(228,24,24,1) 0%, rgba(237,193,104,1) 100%);
}

.navbtn {
    display: none;
}

/* \logo */
.nav-logo {
    flex: 2;
    padding: 10px;
}

.logo {
    cursor: pointer;
}

.logo a{
    font-size: 30px;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
}

.logo a span {
    color: #1dbf73;
    font-weight: bold;
}


.navlink {
    padding: 20px;
    justify-content: space-between;
}

.navlink a {
    color: #fff;
    padding: 5px 20px;
    font-weight: bold;
    justify-content: space-around;
    text-decoration: none;
}

/* .navlink a:last-child {
    border: 2px solid #fff;
    border-radius: 5px;
} */


@media screen and (max-width: 800px){

    .navbar {
        display: block;
    }

    .navbtn {
        right: 10px;
        display: block;
        position: absolute;
    }


    .navlink {
        display: none;
        background-color: #fff;
    }


    .navlink a {
        padding: 10px;
        display: block;
        color: black;
        border-bottom: 1px solid #ddd;
    }
}