.adminForm input {
    width: 94%;
    padding: 10px;
    margin: 10px auto;
}

.adminForm button {
    padding: 10px;
}

@media screen and (max-width: 640px){

    .adminForm input {
        width: 94%;
        padding: 3%;
        margin: 10px auto;
    }

    .adminForm button {
        margin: 10px auto;
        padding: 10px;
        width: 100%;
        display: block;
    }
}