.adminForm {
    width: 95%;
}

.adminForm input {
    width: 100%;
    padding: 10px;
    margin: 0px 0px 10px;
}

.adminForm button {
    padding: 10px;
    width: 200px;
    display: block;

}


@media screen and (max-width: 640px){

    .adminForm {
        width: 92%;
    }

    .adminForm button {
        padding: 10px;
        width: 100px;
        display: block;
    
    }
}