
.orders {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: center;
}

.make-order {
    width: 500px;
}

.recent-orders {
    width: 90%;}

.recent-orders-heading {
    display: flex;
    align-items: center;
}

.recent-orders-heading h1 {
    font-size: 2rem;
    font-weight: bold;
    padding: 20px;
    text-align: center;
    

}

.recent-orders-heading a {
    font-size: 2rem;
    padding: 20px 0px;
    display: none;
}

.new-orders-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}



@media screen and (max-width: 600px){

    .make-order {
        display: none;
    }

    .recent-orders {
        width: 100%;
    }

    .recent-orders-heading {
        display: flex;
        margin: 10px auto;
        align-items: center;
        justify-content: space-around;
    }

    .recent-orders-heading h1{
        font-size: 1.5rem;
        padding: 10px 10px;
    }

    .recent-orders-heading a {
        color: #fff;
        font-size: .8rem;
        padding: 5px 10px;
        display: block;
        font-weight: bold;
        border-radius: 10px;
        text-decoration: none;
        background-color: #22ad22;
    }

    .new-orders-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
}