
.userOrder {
    gap: 10px;
    display: grid;
    grid-template-columns: 400px 1fr;
}


.my_order {
    background-color: #cccccc;
}

.recent-order h1{
    padding: 10px;
}

.recent-order h1{
    padding-top: 30px;
}



@media screen and (max-width: 600px){
    .userOrder {
        grid-template-columns:1fr;
    }

    .new-Order {
        display: none;
    }
    
}