
.userOrder {
    gap: 10px;
    display: grid;
    grid-template-columns: 400px 1fr;
}


.new-order {
    padding: 10px;
}

.new-order h1 {
    padding: 20px 0px;
}

.recent-order-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}



@media screen and (max-width: 600px){
    .userOrder {
        grid-template-columns:1fr;
    }

    .make-Order {
        display: none;
    }

    .new-order h1 {
        text-align: center;
    }

    .recent-order-container {
        justify-content: center;
    }
    
}